{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/stylesheet.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
   <h2>Student Details </h2>
   <div>
      <a href="{{ path('app_student_new') }}">Register</a>
   </div>
   <table class="table">
      <tr>
         <th class="table">Name</th>
         <th class="table">Email</th>
         <th class="table">Date</th>
         <th class="table"></th>
         <th class="table"></th>
      </tr>
      {% for student in data %}
      <tr>
         <td class="table">{{ student.name }}</td>
         <td class="table">{{ student.email }}</td>
         <td class="table">{{ student.createdDate|date("m/d/Y") }}</td>
         <td class="table"><a href = "{{ path('app_student_update', { 'id' : student.Id }) }}">Update</a></td>
         <td class="table"><a href = "{{ path('app_student_delete', { 'id' : student.Id }) }}">Delete</a></td>
      </tr>
      {% endfor %}
   </table>
{% endblock %}
