{% extends 'base.html.twig' %}

{% block body %}
   <h2>Update Student :</h2>
   <div>
       {{ form_start(form) }}
       {{ form_errors(form) }}

       <table class="table2">
           <tr>
               <td class="table3">{{ form_label(form.name) }}</td>
               <td class="table3">{{ form_widget(form.name) }}</td>
               <td class="table3 error">{{ form_errors(form.name) }}</td>
           </tr>
           <tr>
               <td class="table3">{{ form_label(form.email) }}</td>
               <td class="table3">{{ form_widget(form.email) }}</td>
               <td class="table3 error">{{ form_errors(form.email) }}</td>
           </tr>
           <tr>
               <td class="table3">{{ form_label(form.createdDate) }}</td>
               <td class="table3">{{ form_widget(form.createdDate) }}</td>
               <td class="table3 error">{{ form_errors(form.createdDate) }}</td>
           </tr>
       </table>

       <div>
           {{ form_widget(form.save) }}
       </div>

       {{ form_end(form) }}
   </div>
{% endblock %}
